@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

body {
  font-family: var(--font-sans);
  background-color: #0a192f;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: #64ffda;
  font-family: var(--font-mono);
}

h2 {
  color: #ccd6f6;
}

h3 {
  color: #8892b0;
}

p {
  color: #8892b0;
}
